@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Mulish:wght@400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;

}

body {
    max-width: 1100px;
    margin: 0;
}

/* share styles */
.btn-primary {
    width: 130px;
    height: 45px;
    border-radius: 8px;
    background: #FF5400;
    /* color: #FFF; */
    color: black;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 800;
    border: 2px solid black;
}

.paragaph-description {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* navigation section */

nav {
    max-width: 1100px;
    margin: 0 130px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    display: flex;
}

.nav-title img {
    width: 70px;

}

.nav-title h1 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.nav-anchor a {
    text-decoration: none;
    margin-left: 25px;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}


/* banner section */
.banner-container {
    max-width: 1100px;
    height: 500px;
    margin: 0 130px;
    background-image: url(../Images/Group\ 13.png);
    border-radius: 16px;
    background-size: cover;
    text-align: center;

}

.banner-container h1 {
    padding-top: 100px;
    font-size: 60px;
    font-weight: 800;
    color: rgb(187, 255, 0)
}

.banner-content {
    color: #FFF;
    font-weight: 700;
}

.input-section {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 150px;
    height: 40px;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.input-section input {
    width: 110px;
    height: 25px;
    margin-right: 10px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    font-size: 16px;
    font-weight: 700;
}




/* main section start */

.populer-tour {
    max-width: 1100px;
    margin: 100px 130px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.tour-content {
    width: 50%;
}

.tour-img {
    width: 50%;
    display: flex;
    justify-content: end;

}

.tour-img img {
    width: 100%;
}

/* choose your destination */
.destination-container {
    max-width: 1100px;
    margin: 100px 130px;
}

.destination-content {
    text-align: center;
}

.destination-content h2 {
    font-size: 40px;
}

.destination-img {
    margin-top: 50px;
    position: relative;
}

.maldives {
    position: absolute;
    left: 20%;
    top: 9%;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.indonesia{
    position: absolute;
    left: 64%;
    top: 9%;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;

}
.srilanka{
    position: absolute;
    left: 10%;
    top: 45%;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}
.north{
    position: absolute;
    left: 40%;
    top: 45%;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}
.kashmir{
    position: absolute;
    left: 80%;
    top: 45%;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;

}
.bangladesh{
    position: absolute;
    left: 10%;
    top: 75%;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}
.bandarban{
    position: absolute;
    left: 70%;
    top: 75%;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}


.row-img {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.row-img img {
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.row-img .img-3 {
    width: 110%;
}

.row-img .img-4 {
    width: 140%;
}

.row-img .img-7 {
    width: 130%;
}

/* why choose us start */
.why-choose-container {
    max-width: 1100px;
    margin: 90px 130px;
    text-align: center;

}

.why-choose-card {
    display: flex;
    gap: 20px;

}

.hotel-card {
    width: 50%;
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;

}

.service-card {
    width: 50%;
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 30px;


}

.price-guarantee-card {
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 43%;
    padding: 30px;

}

.price-card {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* why choose us end */

/* news letter section start */

.newsletter-container {
    max-width: 1100px;
    margin: 90px 130px;
    display: flex;
}

.newsletter-input {
    width: 40%;
    padding-left: 20px;
    margin-right: 10px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.input-name {
    width: 93%;
    height: 30px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    font-size: 16px;
}

.input-email {
    width: 93%;
    height: 30px;
    margin-top: 10px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    font-size: 16px;

}

#subscribe-btn {
    width: 93%;
    height: 40px;
    border-radius: 8px;
    background: #FF5400;
    border: 2px solid black;
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;

}

.newsletter-img {
    width: 60%;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    position: relative;
}

.travel {
    width: 50%;
    height: 30%;
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 180px;
    bottom: 60px;
    transform: rotate(-45deg)
}

.newsletter-img img {
    width: 100%;
    height: 100%;
}


/* footer section start */
footer {
    max-width: 1100px;
    margin: 0 auto;
    /* padding-left: 130px; */
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer-titel {
    display: flex;
    justify-content: center;
}

.footer-titel img {
    width: 60px;
}

footer .paragaph-description {
    padding-left: 250px;
    padding-right: 250px;
}

.footer-icons {
    font-size: 32px;
    padding: 10px;
}

.footer-icons a {
    margin: 10px;
}

footer hr {
    width: 840px;
}

.copy-right {
    margin-top: 40px;
}

/* complete footer section */